body{
    margin: 0;
    padding: 0;
}

header nav ul{
    height: 7vh;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 15px;
}
header nav ul li{
   float: left;
   margin-left: 10%;
   margin-top: 1%;
   list-style: none;
}
header nav ul li a{
    text-decoration: none;
    text-transform: none;
    font-size: 2vh;
    color: #2E583F;
}

header button{
    display: block;
    position: absolute;
    height: 30px;
    width: 7%;
    color: white;
    background-color: rgb(238, 83, 22);
    border-radius: 50px;
    top: 25px;
    left: 90%;
}

header #logo{
    display: block;
    position: absolute;
    top: 10px;
    left: 1%;
}

header #ban{
    margin-top: 20px;
}

.a h1{
    color: rgb(200, 228, 209);
    font-size: 100px;
    margin-left: 5%;
}

.a h2{
    color: rgb(36, 71, 47);
    font-size: 20px;
    margin-left: 10%;
}

.a ul{
    color: rgb(36, 71, 47);
    font-size: 20px;
    margin-left: 5%;
}

.a img{
    display: block;
    position: absolute;
    height: 400px;
    top: 500px;
    left: 60%;
}

.a button{
    color: white;
    background-color: rgb(36, 71, 47);
    border-radius: 50px;
    height: 30px;
    width: 7%;
    margin-left: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.b{
    background-color: rgb(35, 168, 91);
}

.b img{
    margin-left: 5%;
}

.b h1{
    display: block;
    position: absolute;
    color: white;
    top: 950px;
    left: 65%;
    font-size: 30px;
}

.b ul{
    display: block;
    position: absolute;
    color: white;
    top: 1000px;
    left: 60%;
    width: 450px;
    margin-top: 40px;
}

.b button{
    display: block;
    position: absolute;
    color: white;
    background-color: rgb(36, 71, 47);
    border-radius: 50px;
    height: 30px;
    width: 7%;
    margin-left: 10%;
    margin-top: 10px;
    top: 1150px;
    left: 58%;
}

.c h1{
    color: rgb(200, 228, 209);
    font-size: 100px;
    margin-left: 65%;
}

.c p{
    display: block;
    position: absolute;
    color: rgb(36, 71, 47);
    font-size: 20px;
    left: 5%;
    top: 1400px;
}

.d h1{
    color: rgb(200, 228, 209);
    font-size: 100px;
    margin-left: 5%;
}

.d h2{
    color: rgb(36, 71, 47);
    font-size: 25px;
    margin-left: 10%;
}

.d  #da{
    margin-left: 5%;
}

.d div{
    height: 80px;
    width: 15%;
    margin-left: 10%;
    box-shadow: 10px 10px 10px #DCDADA;
    text-align: center;
    border-radius: 10px;
    color: rgb(36, 71, 47);
}

.d  #db{
    margin-left: 5%;
    width:400px;
}