body{
    margin: 0;
    padding: 0;
    background-image: url(../../img/back.png);
}

header{
    box-shadow: 0px 5px 10px #DCDADA;
    background: white;
    margin-top: 0px;
}

header nav ul{
    height: 7vh;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 15px;
}
header nav ul li{
   float: left;
   margin-left: 10%;
   margin-top: 1%;
   list-style: none;
}
header nav ul li a{
    text-decoration: none;
    text-transform: none;
    font-size: 2vh;
    color: #2E583F;
}

header button{
    display: block;
    position: absolute;
    height: 30px;
    width: 7%;
    color: white;
    background-color: rgb(238, 83, 22);
    border-radius: 50px;
    top: 25px;
    left: 90%;
}

header #logo{
    display: block;
    position: absolute;
    top: 10px;
    left: 1%;
}

.a h1{
    color: rgb(136, 197, 155);
    font-size: 120px;
    margin-left: 5%;
}

.a #titre{
    display: block;
    position: absolute;
    top: 280px;
    color: white;
    font-size: 10px;
    margin-left: 5%;
}

.a #a{
    color: rgb(50, 75, 57);
    font-size: 40px;
    margin-left: 7%;
}

.a #b{
    color: white;
    font-size: 25px;
    margin-left: 5%;
    width: 40%;
}

.a div{
    background: white;
    display: block;
    position: absolute;
    left: 55%;
    top: 350px;
    border-radius: 10px;
    width: 40%;
    height: 300px;
}
.a #c{
    color: rgb(50, 75, 57);
    font-size: 40px;
    text-align: center;
}

.a #d{
    color: rgb(40, 56, 45);
    font-size: 20px;
    margin-left: 2%;
}

.a #e{
    color: rgb(40, 56, 45);
    font-size: 20px;
    margin-left: 12%;
}

.a #f{
    color: rgb(40, 56, 45);
    font-size: 20px;
    margin-left: 2%;
}

.b h1{
    color: rgb(171, 216, 185);
    font-size: 170px;
    margin-left: 5%;
    width: 50%;
}

.b h2{
    display: block;
    position: absolute;
    color: rgb(40, 56, 45);
    left: 55%;
    top: 950px;
    font-size: 30px;
}

.b p{
    display: block;
    position: absolute;
    left: 55%;
    top: 1000px;
    font-size: 25px;
    width: 40%;
}

.c h2{
    color: rgb(40, 56, 45);
    font-size: 30px;
    margin-left: 5%;
}

.c p{
    color: rgb(40, 56, 45);
    font-size: 25px;
    margin-left: 5%;
    width: 40%;
}

.d img{
    margin-left: 12%;
}

.d h2{
    display: block;
    position: absolute;
    color: rgb(40, 56, 45);
    left: 55%;
    top: 1650px;
    font-size: 30px;
}

.d p{
    display: block;
    position: absolute;
    left: 55%;
    top: 1700px;
    font-size: 25px;
    width: 40%;
}

footer{
    background-color:  rgb(39, 83, 53);
    color: white;
    height: 300px;
}

footer p{
    display: block;
    position: absolute;
    top: 2000px;
    left: 7%;
}

footer nav li{ 
    list-style: none;
}

footer a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

footer img{
    display: block;
    position: absolute;
    top: 2000px;
    left: 21%;
}

#f1{
    display: block;
    position: absolute;
    top: 2100px;
    left: 2%;
    font-size: 20px;
}

#f2{
    display: block;
    position: absolute;
    top: 2100px;
    left: 85%;
    font-size: 20px;
}

#f3{
    display: block;
    position: absolute;
    height: 35px;
    left: 46%;
    top: 2095px;
    background-color: rgb(238, 83, 22);
    color:white ;
    border-radius: 50px;
    font-size: 25px;
}

#f4{
    display: block;
    position: absolute;
    height: 35px;
    left: 45%;
    top: 2140px;
    background-color: white;
    color:rgb(39, 83, 53) ;
    border-radius: 50px;
    font-size: 25px;
}

footer h2{
    display: block;
    position: absolute;
    top: 2040px;
    left: 85.2%;
    font-size: 25px;
}
