body{
    margin: 0;
    padding: 0;
    background-image: url(../../img/back2.png);
}

header{
    box-shadow: 0px 5px 10px #DCDADA;
    background: white;
}

header nav ul{
    height: 7vh;
    margin: 0;
    padding: 0;
    margin-left: 10%;
    margin-top: 15px;
}
header nav ul li{
   float: left;
   margin-left: 10%;
   margin-top: 1%;
   list-style: none;
}
header nav ul li a{
    text-decoration: none;
    text-transform: none;
    font-size: 2vh;
    color: #2E583F;
}

header button{
    display: block;
    position: absolute;
    height: 30px;
    width: 7%;
    color: white;
    background-color: rgb(238, 83, 22);
    border-radius: 50px;
    top: 25px;
    left: 90%;
}

header #logo{
    display: block;
    position: absolute;
    top: 10px;
    left: 1%;
}

.a{
    height: 600px;
}

.a h1{
    color: rgb(136, 197, 155);
    font-size: 120px;
    margin-left: 5%;
}

.a #x{
    display: block;
    position: absolute;
    top: 300px;
    margin-left: 5%;
}

.a #a{
    background: white;
    margin-left: 5%;
    width: 30%;
    box-shadow: 0px 0px 10px #DCDADA;
    border-radius: 10px;
    height: 210px;

}

.a #a h2{
    width: 80%;
    margin-left: 5%;
    text-align: center;
}

.a #a p{
    width: 80%;
    margin-left: 5%;
}

.a #a button{
    color: white;
    background-color: rgb(36, 71, 47);
    border-radius: 50px;
    margin-left: 35%;
}

.a #b{
    background:rgb(96, 211, 132);
    margin-left: 5%;
    width: 2.5%;
    box-shadow: 0px 0px 10px #DCDADA;
    display: block;
    position: absolute;
    left: 45%;
    top: 500px;
    border-radius: 80px;
}

.a #b p{
    text-align: center;
}

.a #c{
    background: white;
    margin-left: 5%;
    width: 30%;
    box-shadow: 0px 0px 10px #DCDADA;
    display: block;
    position: absolute;
    left: 60%;
    top: 395px;
    border-radius: 10px;
    height: 230px;
}

.a #c h2{
    width: 80%;
    margin-left: 5%;
    text-align: center;
}

.a #c p{
    width: 80%;
    margin-left: 5%;
}

.a #c button{
    color: white;
    background-color: rgb(36, 71, 47);
    border-radius: 50px;
    margin-left: 35%;
}

.a #d{
    margin-left: 5%;
    width: 40%;
    display: block;
    position: absolute;
    top: 620px;
}

.a #e{
    color: rgb(36, 71, 47);
    background-color:white ;
    border-radius: 50px;
    margin-left: 35%;
    display: block;
    position: absolute;
    top: 640px;
}

.b{
    height: 500px;
}

.b h2{
    margin-left: 14%;
    font-size: 30px;
}

.b p{
    margin-left: 8%;
    width: 30%;
    font-size: 25px;
}

.b button{
    color: white;
    background-color: rgb(36, 71, 47);
    border-radius: 50px;
    margin-left: 18%;
}

.b h1{
    display: block;
    position: absolute;
    color: rgb(136, 197, 155);
    font-size: 110px;
    width: 40%;
    left: 60%;
    top: 680px;
}

footer{
    background-color:  rgb(39, 83, 53);
    color: white;
    height: 300px;
}

footer p{
    display: block;
    position: absolute;
    top: 1310px;
    left: 7%;
}

footer nav li{ 
    list-style: none;
}

footer a{
    text-decoration: none;
    text-transform: none;
    color: white;
}

footer img{
    display: block;
    position: absolute;
    top: 1310px;
    left: 21%;
}

#f1{
    display: block;
    position: absolute;
    top: 1410px;
    left: 2%;
    font-size: 20px;
}

#f2{
    display: block;
    position: absolute;
    top: 1410px;
    left: 85%;
    font-size: 20px;
}

#f3{
    display: block;
    position: absolute;
    height: 35px;
    left: 46%;
    top: 1405px;
    background-color: rgb(238, 83, 22);
    color:white ;
    border-radius: 50px;
    font-size: 25px;
}

#f4{
    display: block;
    position: absolute;
    height: 35px;
    left: 45%;
    top: 1450px;
    background-color: white;
    color:rgb(39, 83, 53) ;
    border-radius: 50px;
    font-size: 25px;
}

footer h2{
    display: block;
    position: absolute;
    top: 1350px;
    left: 85.2%;
    font-size: 25px;
}